<h3 id="head">Here Is What Our ProDrads Have To Say</h3>
<div class="container">


  <div>
    <h2>PRAVESH,FSD0A788</h2>
    <pre id="para1">
      In my academics,I learnt only theoritical concepts of programming but ProGrad emphasized my coding
      Knowledge by teaching me a different approach in solving all the coding problems.My mentor offered me
      excellent suppport by guiding us on each step to improve my progress.
    </pre>
    <hr>
  </div>
  <div>
    <h2>ROBIN HOODA,FSD0A8868</h2>
    <pre id="para1">
        ProGrad not only helped me in utilising my knowledge to the best of my capabilities but also nurtured my
        technical skills and competencies.
        </pre>
  </div>

</div>

<br>
<br>

<!-- <i class='fas fa-user-circle'></i> -->
<!-- <img src="../../assets/profile.png" /> -->
