<div class="container">


  <div class="team">
    <div class="name">{{teamName[0]}}</div>
    <br>
    <div class="website">{{website[0]}}</div>
    <br>
    <div class="number">{{phoneNumber[0]}}</div>
    <br>
    <img src="../../assets/csk.png" alt="csk" />
  </div>
  <div class="team">
    <div class="name">{{teamName[1]}}</div>
    <br>
    <div class="website">{{website[1]}}</div>
    <br>
    <div class="number">{{phoneNumber[1]}}</div>
    <br>
    <img src="../../assets/MI.png" alt="MumbaiIndians" />
  </div>
  <div class="team">
    <div class="name">{{teamName[2]}}</div>
    <br>
    <div class="website">{{website[2]}}</div>
    <br>
    <div class="number">{{phoneNumber[2]}}</div>
    <br>
    <img src="../../assets/RR.png" alt="rr" />
  </div>

  <div class="team">
    <div class="name">{{teamName[3]}}</div>
    <br>
    <div class="website">{{website[3]}}</div>
    <br>
    <div class="number">{{phoneNumber[3]}}</div>
    <br>
    <img src="../../assets/DELHICAPITALS.png" alt="dc" />
  </div>

  <div class="team">
    <div class="name">{{teamName[4]}}</div>
    <br>
    <div class="website">{{website[4]}}</div>
    <br>
    <div class="number">{{phoneNumber[4]}}</div>
    <br>
    <img src="../../assets/RCB_ONE.png" alt="rcb" id="img5" />
  </div>

  <div class="team">
    <div class="name">{{teamName[5]}}</div>
    <br>
    <div class="website">{{website[5]}}</div>
    <br>
    <div class="number">{{phoneNumber[5]}}</div>
    <br>
    <img src="../../assets/KKR.png" alt="kkr" id="img5" />
  </div>


</div>
