<div class="container">
  <div class="box1">
    <h1 class="head">
      Hear It From Our
    </h1>
    <h1 class="head">
      ProGrads
    </h1>
    <pre class="para1">
Being a prograd is a life-time experience.In the past,
we have several times tried showing the world what
is to be a prograd.But,we soon realised that no one
can better describe this journey than our ProGrads
themselves.</pre>
    <pre class="para2">
So here we are with a mission to let the world
hear it from our ProGrads!</pre>
    <pre class="para3">
#ProudProGrads#YourDreamOurMission
    </pre>
  </div>

  <div class="box2">
    <img src="../../assets/main_image.jpg" alt="">
  </div>

</div>
